<div class="dashboard">
  <div class="hero-section">
    <div class="hero-content">
      <h1>‘Discover Latest Courses on Angular’</h1>
    </div>
  </div>

  <div *ngIf="courses ; else loading">
    <div class="controls">
      <div class="search-bar">
        <input [formControl]="searchForm.get('searchTerm')" placeholder="Search by title, author, or tags" />
      </div>
      <div class="sorting-dropdown">
        <label for="sort">Sort by:</label>
        <select id="sort" [(ngModel)]="selectedSortOption" (change)="sortCourses(selectedSortOption)">
          <option [ngValue]="'default'" selected>Default</option>
          <option [ngValue]="'nameAtoZ'">Name (A to Z)</option>
          <option [ngValue]="'nameZtoA'">Name (Z to A)</option>
          <option [ngValue]="'priceLowToHigh'">Price (Low to High)</option>
          <option [ngValue]="'priceHighToLow'">Price (High to Low)</option>
        </select>
      </div>
    </div>
    <div *ngIf="courses.length > 0; else noCourses">
      <div class="course-list">

        <div *ngFor="let course of courses.slice(startIndex, endIndex)" class="course-card"
         >
          <div class="course-details"   >
            <h2>{{ course.courseName }}</h2>
            <ul>
              <li>Author - <span>{{ course.author }}</span></li>
              <li>Actual Price - <span>{{ course.actualPrice }}</span></li>
              <li>Discounted %age - <span>{{ course.discountPercentage }}</span></li>
              <li>Tags - <span>{{ course.tags.join(', ') }}</span></li>
            </ul>
          </div>
          <div class="actions">
            <button
              (click)="course.isAddedToWishlist ? showAlreadyAddToWishList() : onAddToWishList(course.id,course)">Add to
              Wish
              List</button>
            <button (click)="course.isAddedToCart ? showAlreadyAddToCart() : onAddToCart(course.id,course)">Add to
              Cart</button>
            <button [routerLink]="['/course', course.id]">More..</button>
          </div>
        </div>
      </div>
      <!-- Pagination buttons -->
      <div class="pagination-buttons">
        <button (click)="onPrevPage()">Previous</button>
        <span>{{ currentPage }} / {{ totalPages }}</span>
        <button (click)="onNextPage()">Next</button>
      </div>
    </div>

    <ng-template #noCourses>
      <div class="noCourse-list">
        <p>No courses found.</p>
      </div>

      <!-- Pagination buttons -->
      <div class="pagination-buttons">
        <button (click)="onPrevPage()">Previous</button>
        <span>{{ currentPage }} / {{ totalPages }}</span>
        <button (click)="onNextPage()">Next</button>
      </div>
    </ng-template>
  </div>

  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>

</div>
