@import '../../../../../constants.scss';

.navbar {
  overflow: hidden;
  background-color: transparent;
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
}

.navbar-left,
.navbar-middle,
.navbar-right {
  display: flex;
  align-items: center;
}
.navbar-right {
  position: relative;
}

.navbar a {
  color: $primary;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  @extend %bold;
  font-weight: 600;
}
.navbar img{
  width: 100%;
  max-width: 100px;
}
.navbar a:hover {
  background-color: $back-ground;
  color: $black;
}

.active {
  color: $black;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar-left,
  .navbar-middle,
  .navbar-right {
    width: 100%;
    margin-bottom: 10px;
  }
}
