// rtl
$rtl: '.rtl :host &';
// colors

//will change

$primary: #0056d2;
$secondary: #6c757d;
$back-ground: #f8f9fa;
$error: #ff0000;
$success: #42a850;
$black: #000000;
$disabled: #cccccc;
$secondary: #fa7e1f;
$accent: #edceb7;
// breakpoint media query
$desktop-view: 'screen and (min-width: 960px)';
$mobile: 'screen and (max-width: 959px)';
$smallMobile: 'screen and (max-width: 599px)';

$lg: 'screen and (min-width: 1280px )'; // = gt-lg // lg = min: 1280, max: 1919.98
$md: 'screen and (min-width: 959.98px) and (max-width:1279.98px)'; // = lt.md // md = min: 960, max: 1279.98
$sm: 'screen and (min-width: 599.98px) and (max-width:959.98px)'; // = lt-sm // sm = min: 600, max: 959.98
$xs: 'screen and (max-width: 599.98px)';

$box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
$box-shadow-light: 0 2px 6px 0 rgb(0 0 0 / 4%);

@mixin bold {
  font-family: 'Montserrat';
  line-height: 1.23;
}
@mixin medium {
  font-family: 'Montserrat';
  line-height: 1.5;
}
@mixin regular {
  font-family: 'Montserrat';
  line-height: 1.19;
}

%bold {
  @include bold;
}
%medium {
  @include medium;
}
%regular {
  @include regular;
}
