// Custom Theming for Angular Material
@import '~@angular/material/theming';
@import 'constants.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: $back-ground;
  font-family: 'Montserrat', sans-serif;
}





// $primary: mat-palette($mat-blue);
// $accent:  mat-palette($mat-orange, A200, A100, A400);

// @include mat-core($primary, $accent);
.custom-snackbar {
  background-color: $primary;
  color: #fff;

}
button {
  @extend %medium;
  font-size: 16px;
}

// display error in red
.error {
  // margin-top: 3px;
  display: block;
  @extend %regular;
  color: $error;
}
