<!-- course-details.component.html -->

<div class="course-details">
  <!-- Page Banner -->
  <div class="banner">
    <h1>Discover Latest Courses on React</h1>
  </div>

  <!-- Breadcrumb -->
  <div class="breadcrumb">
    <a routerLink="/">All Courses</a> /  title
  </div>

  <!-- Course Content -->
  <div class="course-content">
    <!-- Course Description -->
    <div class="description">
      <h2> title </h2>
      <p> description </p>
    </div>

    <!-- Video Card -->
    <div class="video-card">
      <img  alt="Course Thumbnail" >
      <div class="price-details">
        <p>Price: ₹price </p>
        <p >Discounted Price: discountedPrice </p>
      </div>
      <div class="actions">
        <button >Add to Cart</button>
        <button >Add to Wishlist</button>
      </div>
    </div>

    <!-- Time Left Feature -->
    <div class="time-left">
      <p> timeLeft hours left for the sale to end!</p>
    </div>
  </div>
</div>
